.w(@w:100%){
    width: @w;
}
.h(@h:auto){
    height: @h;
}
@e:#e1e1e1;
@dl:left;@dt:top;@db:bottom;@dr:right;
.b(@cr:@e){
    border: 1px solid @cr;
}
.m(@t:auto,@l:auto){
    margin: @t @l;
}
.t{
    transition: all .3s;
}
.b_dir(@cr:@e,@dir:@dl){
    border-@{dir}: 1px solid @cr;
}
.m_dir(@t:10px,@dir:@dl){
    margin-@{dir}: @t;
}
.fl(@dir:@dl){
    float: @dir;
}
body,html{
    height: 100%;
    width: 100%;
}
#home{
    .w();
    .h(100%);
    .m(@t:0);
    background-repeat: no-repeat;
    background-size: cover;
    .banner>ul{
        background: #ccc;
        width: 100%;
        margin: 0;
    }
    .banner>div{
        height: 400px;
        width: 100%;
    }
}
.shade{
    width: 80%;
    height: 200px;
    
}